{{ authorDetails.name }}
    
    <img src="{{ authorDetails.picture }}" alt="{{ authorDetails.name }}">
    
    <p>Email : {{ authorDetails.email }}</p>
    
    <p>Nombre de livres : {{ authorDetails.nb_books }}</p>
    
    